@import "fonts.css";
@import 'owl.carousel.css';
@import 'owl.theme.default.css';
@import 'owl.carousel.min.css';
@import 'owl.theme.default.min.css';

$quickSandBld: 'Quicksand-Bold', sans-serif;
$sspSemibld: 'Source Sans Pro-Semibold', sans-serif;
$sspBld: 'Source Sans Pro-Bold', sans-serif;
$sspReglr: 'Source Sans Pro-Regular', sans-serif;
$sspItalic: 'Source Sans Pro-Italic', sans-serif;
$sspThin: 'Source Sans Pro-Light', sans-serif;

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

.btnsGroup {
  display: flex;
  align-items: center;
  margin-bottom: 110px;

  .btn-custom {
    background-color: #008ed6;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 35px;
    transition: 0.2s linear;

    &:hover {
      background-color: #008ed600;
      color: #fff;
      border: 1px solid #999999;
    }
  }

  .btn-outline-secondary {
    padding: 13px 35px;
    text-transform: uppercase;
    transition: 0.3s linear;

    &:hover {
      background-color: #008ed6;
      color: #fff;
      border: 1px solid #008ed6;
    }
  }
}


header {
  background-image: url("../images/headerBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0 0;

  .navbar {
    align-items: baseline;
    background-color: transparent !important;
  }

  .navbar-brand {
    color: #fff !important;
    font-family: $quickSandBld;
    text-transform: uppercase;
    font-size: 24px;
  }

  .nav-item {
    .active {
      color: #cdcbcb !important;
    }

    .nav-link {
      color: #fff !important;
      font-family: $sspSemibld;
      font-size: 16px;
      margin-right: 24px;
      position: relative;

      &:before {
        content: "";
        background-color: #008ed6;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 8px;
        transition-duration: 0.3s;
      }

      &:after {
        content: "";
        background-color: #008ed6;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 8px;
        transition-duration: 0.3s;
      }

      &:hover {
        color: #cdcbcb !important;

        &:before, &:after {
          width: 30%;
        }
      }
    }
  }
}


.headerLeftInfo {
  margin-top: 100px;

  h3 {
    color: #fff;
    font-size: 48px;
    font-family: $sspSemibld;
    margin-bottom: 40px;

    &:before {
      color: #008ed6;
      font-size: 14px;
      font-family: $sspBld;
      display: block;
      content: "introducing lucid theme";
      text-transform: uppercase;
      margin-bottom: 33px;
    }
  }

  p {
    font-family: $sspReglr;
    color: #999;
    font-size: 18px;
    margin-bottom: 63px;
  }
}


.prodOverv {
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
  padding: 60px 0;

  .sectCapt {
    h3 {
      font-family: $sspSemibld;
      color: #1a1a1a;
      font-size: 36px;
      margin-bottom: 43px;

      &:before {
        display: block;
        content: "Product Overview";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 32px;
      }
    }

    span {
      width: 42px;
      display: block;
      height: 2px;
      margin: auto;
      position: relative;
      margin-bottom: 73px;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      color: #008ed6;
      border: 1px solid #eeeeee;
      border-radius: 50%;
      font-size: 26px;
      line-height: 90px;
      height: 90px;
      width: 90px;
      text-align: center;
      display: block;
      margin-bottom: 39px;
    }

    h3 {
      margin-bottom: 23px;
      font-size: 24px;
      font-family: $sspReglr;
    }

    p {
      font-family: $sspReglr;
      font-size: 18px;
      color: #999999;
    }
  }
}


.dipIntoDet {
  padding: 60px 0;

  .detDescription {
    h3 {
      color: #1a1a1a;
      font-size: 36px;
      font-family: $sspSemibld;
      margin-bottom: 43px;

      &:before {
        display: block;
        content: "Dip Into The details";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 32px;
      }
    }

    span.underCapt {
      width: 42px;
      display: block;
      height: 2px;
      position: relative;
      margin-bottom: 73px;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }

    p {
      font-family: $sspReglr;
      color: #999;
      font-size: 18px;
      margin-bottom: 63px;
    }

    ul {
      list-style-type: none;

      li {
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;

        span i {
          color: #008ed6;
          font-size: 18px;
          margin-right: 10px;

          &.fa-tachometer-alt-fast {
            margin-right: 3px;
            font-size: 15px;
          }

          &.fa-trophy {
            margin-right: 5px;
          }
        }

        span {
          color: #1b1b1b;
          font-size: 18px;
          font-family: $sspReglr;
        }
      }
    }
  }
}

.easyCustom {
  padding: 60px 0;
  background: #ededed;

  .customDescript {
    h3 {
      color: #1a1a1a;
      font-size: 36px;
      font-family: $sspSemibld;
      margin-bottom: 37px;

      &:before {
        display: block;
        content: "Dip Into The details";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }

    span {
      width: 42px;
      display: block;
      height: 2px;
      position: relative;
      margin-bottom: 30px;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }

    p {
      font-family: $sspReglr;
      color: #999;
      font-size: 18px;
      margin-bottom: 63px;
    }
  }
}

.owl-carousel {
  position: relative;
  margin-bottom: 60px;
}

.owl-dots {
  position: absolute;
  bottom: -75px;
  left: 45%;
}

.owl-carousel {
  .owl-dots {
    span {
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 2px solid #353437;
      border-radius: 50%;
      display: inline-block;
      transition: 0.3s;
    }

    & .active span {
      background-color: #fff;
      border: 2px solid #fff;
      width: 12px;
      height: 12px;
      display: inline-block;
      text-align: center;

    }

    button:nth-child(2) {
      margin: 0 0 0 9px;
    }

    button:nth-child(3) {
      margin: 0 9px 0 9px;
    }
  }
}

.carouselSliders {
  background-image: url("../images/slideBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: relative;

  .slideHeading {
    margin-bottom: 90px;

    h3 {
      color: #fff;
      font-size: 36px;
      font-family: $sspSemibld;
      margin-bottom: 37px;

      &:before {
        display: block;
        content: "Quality has its price";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }

    span {
      width: 42px;
      display: block;
      height: 2px;
      position: relative;
      margin: auto;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }
  }

  .quoteOne p, .quoteTwo p {
    font-family: $sspItalic;
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .quoteAuthor {
    display: flex;
    flex-direction: row;

    .authorPic {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin-right: 25px;
    }

    .authorDescr {
      h3 {
        font-family: $sspReglr;
        font-size: 16px;
        color: #fff;

        &:after {
          display: block;
          margin-top: 15px;
          content: "CEO, The rivers company";
          text-transform: uppercase;
          font-family: $sspBld;
        }

        &.secAuthor:after {
          content: "UX DESIGNER, GOOGLE INC.";
        }
      }
    }
  }
}

.eyeCatcher {
  padding: 60px 0;
  background-color: #15141a;

  .catcherContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .catcherText{
      display: flex;
      flex-direction: row;
      align-items: baseline;

      h3 {
        color: #fff;
        font-family: $sspSemibld;
        font-size: 36px;
        margin-right: 10px;
      }

      span {
        color: #fff;
        font-family: $sspThin;
        font-size: 36px;
      }
    }
    .btnsGroup {
      margin-bottom: 0;
    }
  }
}

.pricingCards {
  position: relative;
  padding: 60px 0;

  .pricingCard {
    ul {
      list-style-type: none;
      transition: 0.4s linear;

      li {
        border: 1px solid #e0e0e0;
        padding: 30px;
        text-align: center;

        &:nth-of-type(2) {
          padding: 43px 0;
          transition: 0.4s linear;
          text-align: center;
          display: flex;
          flex-direction: column;
          position: relative;

          sup.laterAnimDoll {
            font-size: 30px;
            transition-duration: 0.5s;
            display: block;
            top: 0.5em;
            left: -20px;

            &.secndDoll, &.thirdDoll, &.frthDoll {
              left: -29px;
            }
          }

          span.fasterAnimPrice {
            font-size: 40px;
          }
        }

        &:last-of-type {
          padding: 50px 30px;
        }

        p {
          margin-bottom: 40px;
          text-align: center;
        }

        .btn-outline-order {
          text-transform: uppercase;
          border: 1px solid #e0e0e0;
          padding: 12px 30px;
          font-weight: 600;
          font-size: 16px;
          color: #008ed6;
          display: inline-block;
          transition: 0.3s;
        }
      }

      &:hover {
        box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 10%);
        transform: translateY(-5px);

        h3 {
          color: #008ed6;
        }

        li:nth-of-type(2) {
          background: #008ed6;

          span.fasterAnimPrice, sup.laterAnimDoll {
            color: #FFFFFF;
          }
        }

        .btn-outline-order {
          color: #FFFFFF;
          background: #008ed6;
        }
      }
    }
  }

  .cardsHeading {
    margin-bottom: 70px;

    h3 {
      color: #1a1a1a;
      font-size: 36px;
      font-family: $sspSemibld;
      margin-bottom: 37px;
      text-align: center;

      &:before {
        display: block;
        content: "Quality has its price";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 60px;
      }
    }

    span {
      width: 42px;
      display: block;
      height: 2px;
      position: relative;
      margin: auto;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }
  }
}

.stayInTouch{
  padding: 60px 0;
  background: #ededed;
  .inTouchHeading {
    margin-bottom: 60px;
    h3 {
      color: #1a1a1a;
      font-size: 36px;
      font-family: $sspSemibld;
      margin-bottom: 37px;
      text-align: center;

      &:before {
        display: block;
        content: "Stay In Touch";
        color: #008ed6;
        font-size: 14px;
        font-family: $sspBld;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 60px;
      }
    }

    span {
      width: 42px;
      display: block;
      height: 2px;
      position: relative;
      margin: auto;

      &:after {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }

      &:before {
        content: " ";
        background-color: #008ed6;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
      }
    }
  }
  .contactBox{
    display: flex;
    flex-direction: column;
    transition: 0.4s linear;
    &:hover{
      i{
        transform: translateY(10px);
      }
    }
    i{
      color: #008ed6;
      font-size: 32px;
      text-align: center;
      margin-bottom: 30px;
      transition: 0.4s linear;
    }
    span{
      color: #999999;
      font-family: $sspReglr;
      text-align: center;
    }
  }
  .contactForm{
    background-color: #15141A;
    padding: 60px 60px 40px;
    transform: translateY(150px);
    form{
      .form-group{
        .form-control{
          background-color: #fff0;
          border: 1px solid #808080a3;
          padding: 22px 20px;
          resize: none;
          font-family: $sspBld;

          &::placeholder{
            text-transform: uppercase;
          }
        }
      }
      textarea{
        margin-bottom: 21px;
      }
      .btn-primary{
        padding: 18px 35px;
        text-transform: uppercase;
        font-family: $sspBld;
      }
    }
  }
}

.contactMap{
  .iframeBox iframe{
    width: 100%;
    height: 360px;
  }
}


footer{
  padding: 60px 0;
  background-color: #15141A;
  .socialsList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    li{
      a i{
        margin-right: 30px;
        font-size: 30px;
        color:#444348;
        transition: 0.3s linear;
        &:hover{
          color: #008ed6;
        }
      }
    }
  }
  span{
    text-transform: uppercase;
    color:#444348;
    text-align: center;
  }
}
